@import '@/styles/variables';

.socialLinks {
  display: flex;
  align-items: center;
  flex-direction: column;

  position: fixed;
  bottom: 0rem;
  left: 0.5rem;

  width: 4rem;

  &_links {
    display: flex;
    align-items: center;
    flex-direction: column;

    position: relative;

    a{
      width: 4rem;
      height: 4rem;  
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__icon {
      color: $secondary-color;
      transition: all .3s;

      &:hover{
        color: $dark-secondary-color;
      }
    }
  }
}
